{% extends 'base.html' %}
{% load static %}


{% block content %}
{% include "../navbar.html" %}
<br>
<div class="container hero-section">
  <div class="row">
    <div class="col-md-6">
      
      <div class="hero-text">
        <h1>Your Event, Our Expertise</h1>
        <p class="lead">Plan and execute memorable events with our professional event management services. From conferences to weddings, we ensure perfection in every detail.</p>
        <a class="btn btn-secondary" href="{% url "create_event" %}">Create Your Event</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="hero-image">
        <img src="{% static "img/event.jpg" %}" alt="Event Image">
      </div>
    </div>
  </div>



  <div class="container-fluid">
    <div class="category-section">
     
     
        {% for c in categories %}
        <div class="round-card">
          <a href="#">
            <img src="{{ c.image.url }}" alt="Category">
          </a>
          
        </div>
        <p>{{ c.name }}</p>
      {% endfor %}
    </div>
   
    
   
</div>
<section>
<div class="container">
  <div class="row">
    
      <h2>Trending Events</h2>
    {% for event in events %}
      <div class="col-md-3">
        <div class="event-card">
          <img src="{% static "img/img1.jpg" %}" alt="Event Image">
          <div class="event-card-body">
            <a href="{% url 'event_detail' slug=event.slug %}"><p class="event-title">{{ event.title }}</p></a>
            
            <p class="event-date">{{ event.date }}</p>
            
          </div>
        </div>
      </div>
      {% endfor %}


  </div>
</div>
</section>

<section>
<div class="container">
  <div class="row">
    <h2>Top Events </h2>
  {% for event in events %}
    <div class="col-md-4">
      <div class="event-card">
        <img src="{% static "img/img1.jpg" %}" alt="Event Image">
        <div class="event-card-body">
          <a href="{% url 'event_detail' slug=event.slug %}"><h5 class="event-title">{{ event.title }}</h5></a>
          <p class="event-date">{{ event.date }}</p>
          <p class="event-date">{{ event.organizer }}</p>
          <p class="event-description">{{ event.location }}</p>
          <p class="lead">Free</p>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>
</div>
</section>

<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-3">
        <span class="footer-logo">Eventsync</span>
      </div>

      <div class="col-md-3">
        <h5>Quick Links</h5>
        <ul class="footer-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h5>Follow Us</h5>
        <div class="footer-social">
          <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </div>

      <div class="col-md-3">
        <h5>Contact Us</h5>
        <p class="footer-text">
          
          Phone: (234) 907 575-4477<br>
          Email: info@eventsync.com
        </p>
      </div>

    </div>
  </div>
</footer>

{% endblock %}