
<footer class="footer">
    <div class="container">
      <div class="row">
  
        <div class="col-md-3">
          <span class="footer-logo">Eventsync</span>
        </div>
  
        <div class="col-md-3">
          <h5>Quick Links</h5>
          <ul class="footer-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
  
        <div class="col-md-3">
          <h5>Follow Us</h5>
          <div class="footer-social">
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
  
        <div class="col-md-3">
          <h5>Contact Us</h5>
          <p class="footer-text">
            
            Phone: (234) 907 575-4477<br>
            Email: info@eventsync.com
          </p>
        </div>
  
      </div>
    </div>
  </footer>
  